/node_modules
/public/hot
/public/storage
/public/assets/img/profiles
/public/assets/img/PROFILES-2
/public/assets/img/profiles-3
/public/assets/img/thumbnail
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
